@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.body {
  font-family: "roboto", sans-serif;
  margin: 0;
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 0.95;
  animation: disparaitre 2s forwards ease;
}
@keyframes disparaitre {
  to {
    visibility: hidden;
  }
}
.spinner .dot {
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
  margin: 0 10px;
  animation: loader infinite 0.3s alternate;
}
.spinner .d1 {
  background-color: #9356DC;
}
.spinner .d2 {
  animation-delay: 0.05s;
  background-color: #FF79DA;
}
.spinner .d3 {
  animation-delay: 0.1s;
  background-color: #99E2D0;
}
@keyframes loader {
  to {
    transform: translateY(-30px);
  }
}

.header {
  box-shadow: 0 0 8px gray;
}
.header i {
  margin-top: -42px;
  margin-left: 20px;
  position: absolute;
  color: black;
}

.logoStyle {
  margin-left: 20%;
  width: 50%;
  padding: 15px;
}

.footer {
  height: 170px;
  background-color: #353535;
  color: white;
  font-size: 14px;
  padding-top: 3%;
  padding-left: 7%;
  line-height: 7px;
}
.footer .logoStyleFooter {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 17px;
  font-weight: 500;
}
.footer .styleLine {
  display: flex;
  align-items: baseline;
  gap: 10px;
  line-height: 2%;
}
.footer a {
  text-decoration: none;
  color: white;
}

.menuPicture {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: bottom;
}

.menu-restaurant {
  margin-top: -2rem;
  border-radius: 32px 32px 0 0;
  background-color: #F2F2F2;
  position: relative;
  padding: 15px;
}
.menu-restaurant h2 {
  font-family: "Shrikhand", cursive;
}
.menu-restaurant .heart-transition {
  font-size: 20px;
  position: absolute;
  right: 25px;
  margin-top: -50px;
  color: transparent;
}
.menu-restaurant .heart-icons {
  font-size: 21px;
  color: black;
}
.menu-restaurant .coeur:hover .heart-transition {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.menu-restaurant .card-menu {
  border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: -1px 1px 9px -3px #000000;
  background-color: white;
  line-height: 0;
  margin-top: 18px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.menu-restaurant .card-menu .menu-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 3px;
  margin-left: 10px;
}
.menu-restaurant .card-menu .menu-info .menu-description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-restaurant .card-menu .menu-info .menu-description h3 p span {
  max-width: 83%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 7px 5px;
}
.menu-restaurant .card-menu .check {
  display: none;
  background-color: #99E2D0;
  border-radius: 0 13px 13px 0;
  width: 23%;
  place-items: center;
}
.menu-restaurant .card-menu .check .icon-check {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  color: #99E2D0;
}
.menu-restaurant .card-menu:hover .check {
  display: grid;
  animation: check-apparition 1s;
}
.menu-restaurant .card-menu:hover .check .icon-check {
  animation: rotation 0.5s ease-in-out;
  right: auto;
}
@keyframes apparition {
  from {
    opacity: 0;
    margin-top: 30px;
  }
  to {
    opacity: 1;
    margin-top: 15px;
  }
}
.menu-restaurant .apparition-menu .card-menu {
  animation: apparition 2s;
}
@keyframes menu-info-dimunition {
  0% {
    width: 100%;
  }
  100% {
    width: 77%;
  }
}
@keyframes check-apparition {
  0% {
    width: 0%;
  }
  100% {
    width: 23%;
  }
}
@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.menu-restaurant .price {
  font-weight: 800;
  transition: all 0.5s;
  padding-right: 10px;
}
.menu-restaurant .section {
  font-size: 14px;
}
.menu-restaurant button {
  background-image: linear-gradient(#FF79DA, #9356DC);
  color: white;
  font-size: 16px;
  padding: 15px;
  width: 55%;
  border: none;
  border-radius: 30px;
  box-shadow: -1px 1px 9px -3px #000000;
  transition: transform 200ms;
  margin-top: 10px;
  margin-left: 70px;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
.menu-restaurant button:hover {
  transform: scale(1.02);
  opacity: 0.9;
}
.menu-restaurant .title-menu {
  border-bottom: 3.5px solid #99E2D0;
  margin-right: 90%;
  padding-bottom: 5px;
  margin-top: 30px;
}

/*# sourceMappingURL=menu.css.map */
