@import "./mixin.scss";
@import "./shared.scss";


.localisationStyle
{
    @include flex-center;
    background-color: #ececec;
    margin-top: 1.5%;
    gap: 16px;
    font-weight: 500;
}
.reservation
{
    text-align: center;
    height: 220px;
    background-color: #F6F6F6;
    padding: 5%;
    & p {
        font-size: 14px;
    }
    & button {
        @include color-gradient;
        color: white;
        font-weight: bold;
        font-size: 18px;
        padding: 16px;
        border: none;
        border-radius: 30px;
        @include box-shadow; 
        transition: transform 200ms;
        cursor: pointer;
    }
    & button:hover {
        @include transform;
        opacity: 0.9;
    }
}
.fonctionement {
    padding-right: 20px;
    & li {
        background-color: #f2f2f2;
        border: transparent;
        padding: 8px 15px;
        border-radius: 16px;
        margin: 5%;
        @include box-shadow; 
        transition: transform 200ms;
        display: flex;
        align-items: baseline;
        font-weight:700;
    }
    & ol {
        list-style: none;
        & :hover {
            @include transform;
        }
    }
    & i {
        margin-right: 16px;
        color: #7e7e7e;
    }
    & p {
        border-radius: 50% ;
        color: white;
        background-color: #9356DC;
        width: 24px;
        height:24px;
        @include flex-center;
        position: relative;
        font-size: 12px;
        right: 25px;
    }
    & h2 {
        padding-left: 5%;
    }
    & li:hover {
        background-color:lighten($color:#9356DC, $amount: 35%);
        i {
            color:#9356DC ;
        }
    } 
}
.menus{
    background-color: #f2f2f2;
    padding: 25px;
    & .photoRestaurant {
        width: 100%;
        border-radius:15px 15px 0 0;
        object-fit: cover;
        height: 150px;
    }
    & h3{
        font-size: 16px;
        line-height: 2;
    }
    & .title {
        padding-left: 10px;
        margin-bottom: -5%;
        margin-top: -4%;
        color: black;
        text-decoration: underline white;
        }
    & .card {
        width: 100%;
        border-radius: 15px;
        box-shadow: 4px 4px 4px 1px #F2F2F2;
        background-color: white;
        }
    & p {
        padding-left: 10px;
        padding-bottom: 10px;
        font-size: 14px;
        text-decoration: underline white;
        color: black;
        }
    & .new{
        background-color: #99E2D0;
        position: absolute;
        color: darken($color:#99E2D0, $amount: 50%);
        font-size: 12px;
        border-radius: 2px;
        padding: 5px;
        margin-top: 10px;
        margin-left: 255px;
        }
    & i {
        font-size: 20px;
        margin-right: 20px;
        position: absolute;
        right: 25px;
        margin-top: 10px;   
        color: transparent;
        }
    & .heart-icons{
        font-size: 21px;
        color: black;  
    }
    & .hover-heart:hover i{ 
        @include color-gradient;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent; 
    }
}