
@import "./mixin.scss";
@import "./colors.scss";
@import "./shared.scss";
@import "./menu.scss";

.localisationStyle
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $gray;
    margin-top: 1.5%;
    gap: 16px;
    font-weight: 500;
}
.reservation
{
    text-align: center;
    height: 220px;
    background-color: $light-gray;
    padding: 5%;
    & p {
        font-size: 14px;
    }
    & button {
        background-image: linear-gradient( $pink, $purple);
        color: $white;
        font-weight: bold;
        font-size: 18px;
        padding: 16px;
        border: none;
        border-radius: 30px;
        @include box-shadow; 
        transition: transform 200ms;
        cursor: pointer;
    }
    & button:hover {
        @include transform;
        opacity: 0.9;
    }
}
.fonctionement {
    padding-right: 20px;
    & li {
        background-color: $gray;
        border: transparent;
        padding: 8px 15px;
        border-radius: 16px;
        margin: 5%;
        @include box-shadow; 
        transition: transform 200ms;
        display: flex;
        align-items: baseline;

    }
    & ol {
        list-style: none;
        & :hover {
            @include transform;
        }
    }
    & i {
        margin-right: 16px;
        color: #7e7e7e;
    }
    & p {
        border-radius: 50% ;
        color: $white;
        background-color: $purple;
        width: 24px;
        height:24px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        font-size: 12px;
        right: 25px;
    }
    & h2 {
        padding-left: 5%;
    }
}
.hover {
    & :hover {
        background-color: #e2c8ff;
                & :hover + i {
            color: #9356DC;
        }
    }
}


