@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@import "./mixin.scss";

.body
{
    font-family: "roboto",  sans-serif;
    margin: 0;
}
.spinner{
    position: fixed;
    width: 100% ;
    height: 100% ;
    background-color: white;
    @include flex-center;
    z-index: 2;
    opacity: 0.95;
    animation: disparaitre 2s  forwards ease ;
    @keyframes disparaitre {
        to{
            visibility: hidden;
        }
    }
    .dot{
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin: 0 10px;
        animation: loader infinite 0.3s alternate;
    }
    .d1{
        background-color: #9356DC;
    }
    .d2{
        animation-delay: 0.05s;
        background-color: #FF79DA;
    }
    .d3{
        animation-delay: 0.1s;
        background-color: #99E2D0;
    }
    @keyframes loader {
        to{
            transform: translateY(-30px);
        }
    }
}
.header
{
    box-shadow: 0 0 8px gray;
    & i{
        margin-top: -42px;
        margin-left: 20px;
        position: absolute;
        color: black;
    }
}
.logoStyle
{
    margin-left: 20%;
    width: 50%;
    padding: 15px;
}
.footer
{
    height: 170px;
    background-color: #353535;
    color: white;
    font-size: 14px;
    padding-top: 3%;
    padding-left: 7%;
    line-height: 7px;
    & .logoStyleFooter
    {
        color: white;
        font-family: "Shrikhand", cursive;
        font-size: 17px;
        font-weight: 500;
    }
    & .styleLine
    {
        display: flex;
        align-items: baseline;
        gap: 10px;
        line-height: 2%;
    }
    & a {
        text-decoration: none;
        color: white;
    }
}



